table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th,
  td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  th {
    background-color: #f2f2f2;
  }
  
  input[type="text"] {
    margin-bottom: 10px;
    padding: 5px;
  }
  
  button {
    padding: 5px 10px;
    background-color: #4caf50;
    color: white;
    border: none;
    cursor: pointer;
  }

  button.btn-filtrar {
    padding: 5px 10px;
    background-color: #af4c7d;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  .form {
    display: inline-block;
    margin-top: 10px;
  }
  
  #orden {
    margin-right: 10px;
  }
  