<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <link rel="stylesheet" href="../styles/global.css" />
    <link rel="stylesheet" href="../styles/createEmployee.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Alef:wght@400;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap"
    />
  </head>
  <body>
    <div class="form">
      <div class="sidebar3">
        <div class="sidebar-child1"></div>
        <div class="administracin-de-empleados-wrapper2">
          <div class="administracin-de-empleados-container3">
            <p class="administracin3">Administración</p>
            <p class="blank-line6">&nbsp;</p>
            <p class="administracin3">de</p>
            <p class="administracin3">&nbsp;</p>
            <p class="administracin3">empleados</p>
          </div>
        </div>
        <b class="menu3">Menu</b>
        <div class="crear-parent1">
            <div class="crear-container">
              <a href="/" class="button home-button">Home</a>
              <div class="empleados1">Empleados</div>
                <a href="form" class="button crear-button">Crear</a>
                <a href="list" class="button listar-button">Listar</a>
              </div>
          </div>
        </div>
      </div>
      <div class="rectangle-parent8">
        <div class="group-child14"></div>
        <div class="group-child17"></div>
    <div class="frame-group">
  <form>
    <div class="crear-empleado-wrapper">
      <button type="submit" class="crear-empleado">Crear Empleado</button>
    </div>
    <div class="group-parent">
        <div class="rectangle-parent7">
          <input type="number" id="edadInput" class="input-field" placeholder="" />
        </div>
        <div class="edad3">Edad</div>
      </div>
    <div class="group-parent2">
      <div class="rectangle-parent11">
        <input type="text" id="nombreInput" class="input-field" placeholder="Ingrese el nombre" />
      </div>
      <label for="nombreInput" class="nombre1">Nombre</label>
    </div>
    <div class="group-parent3">
      <div class="rectangle-parent11">
        <input type="text" id="apellidoInput" class="input-field" placeholder="Ingrese el apellido" />
      </div>
      <div class="nombre1">Apellido</div>
    </div>
    <div class="group-parent4">
      <div class="rectangle-parent16">
        <input type="text" id="codInput" class="input-field" placeholder="Ingrese el codigo de empleado" />
      </div>
      <div class="cdigo-de-empleado1">Código de empleado</div>
    </div>
    <div class="group-parent5">
        <div class="rectangle-parent15">
          <input type="number" id="telInput" class="input-field" placeholder="Ingrese el numero telefonico" />
        </div>
    <div class="numero-de-telefono1">Numero de telefono</div>
    </div>
    <div class="group-parent6">
        <div class="rectangle-parent13">
          <input type="date" id="ingresoInput" class="input-fieldFecha" placeholder="" />
        </div>
    <div class="fecha-de-ingreso1">Fecha de ingreso, Formato YY/MM/DD</div>
    </div>
    <div class="group-parent7">
        <div class="rectangle-parent14">
          <select id="idInputEquipo" class="dropdown-field">
          </select>
        </div>
        <div class="id-equipo1">ID_equipo</div>
      </div> 

     <div class="group-parent8">
        <div class="rectangle-parent17">
          <select id="idInputPosicion" class="dropdown-field2">
          </select>
        </div>
        <div class="id-posicion1">id_posicion</div>
      </div> 

      <div class="group-parent9">
        <div class="rectangle-parent18">
          <select id="idInputEstado" class="dropdown-field3">
          </select>
        </div>
        <div class="id-estado1">id_estado</div>
      </div> 

      <div class="group-parent10">
        <div class="rectangle-parent19">
          <select id="idInputGenero" class="dropdown-field">
            <option value="M">M</option>
            <option value="F">F</option>
          </select>
        </div>
        <div class="id-genero1">genero</div>
      </div> 

  </form>
</div>
<div class="empleados10">Empleados</div>
<div class="breadcrumbs2">
  <div class="page-name2">Formulario</div>
</div>
<script src="../scripts/createEmployeeScript.js"></script>
      <div class="infosgroup4">
        <img class="image-1-icon3" alt="" src="../images/infosgroup.jpg" />
      </div>
    </div>
  </body>
</html>
