<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>hello world</h1>

    <form id="uen" method="POST" action="/api/v1/uen" class="form">
        <input id="nombre" type="text" name="nombre" placeholder="nombre">
        <button type="submit" class="btn">click</button>
    </form>


       <p id="message"></p>

    <script src="../scripts/indexScript.js"></script>


    <input type="button" onclick="location.href='/test';" value="Probar getUen" />

</body>
</html>