<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <link rel="stylesheet" href="../styles/global.css" />
    <link rel="stylesheet" href="../styles/listEmployee.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Alef:wght@400;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap"
    />
  </head>
  <body>
    <div class="view">
      <div class="sidebar1">
        <div class="sidebar-item"></div>
        <div class="administracin-de-empleados-frame">
          <div class="administracin-de-empleados-container1">
            <p class="administracin1">Administración</p>
            <p class="blank-line2">&nbsp;</p>
            <p class="administracin1">de</p>
            <p class="administracin1">&nbsp;</p>
            <p class="administracin1">empleados</p>
          </div>
        </div>
        <b class="menu1">Menu</b>
        <div class="crear-group">
            <a href="/" class="button home-button">Home</a>
            <div class="empleados">Empleados</div>
            <a href="form" class="button crear-button">Crear</a>
            <a href="list" class="button listar-button">Listar</a>
          </div>
        </div>
      </div>
      <div class="searchbar">
        <div class="searchbar-child">
          <div class="searchbar-inner">
            <input type="text" id="filtroNombre" class="search-input" placeholder="Nombre">
          </div>
        </div>
      </div>
      <div class="view-inner">
        <div class="vector-parent">
          <div class="empleados4">Empleados</div>
          <div class="group-inner"></div>
          <div class="line-div"></div>
          <div class="group-child1"></div>
          <div class="group-child2"></div>
          <div class="rectangle-icon">
            <button id="exportBtn">Exportar a CSV</button>
            <table class = "table">
              <thead>
                <tr>
                  <th>Código</th>
                  <th>Posición</th>
                  <th>Equipo</th>
                  <th>Estado</th>
                  <th>Nombre</th>
                  <th>Apellido</th>
                  <th>Edad</th>
                  <th>Fecha de Ingreso</th>
                  <th>Género</th>
                  <th>Fecha Evaluación Prueba</th>
                  <th>Mes Vacación</th>
                  <th>Teléfono</th>
                  <th>Fecha Inicio Vacaciones</th>
                  <th>Fecha Final Vacaciones</th>
                  <th>Editar</th>
                  <th>Borrar</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      
      <script src="../scripts/listEmployeeScript.js"></script>

      <div class="infosgroup1">
        <div class="searchbar-inner">
          <img class="image-1-icon1" alt="" src="../images/infosgroup.jpg" />
        </div>
      </div>
      <div class="breadcrumbs">
        <div class="page-name">Ver Empleados</div>
      </div>
  </body>
</html>
