<!DOCTYPE html>
<html>
<head>
  <title>Tabla de datos de la API</title>
  <link rel="stylesheet" type="text/css" href="../styles/test.css">
</head>
<body>

  <input type="text" id="filtroNombre" placeholder="Ingresa el nombre" filtroNombre>
  <input type="text" id="filtroID" placeholder="Ingresa el ID" filtroID>
  <table>

    <thead>
      <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Acciones</th> <!-- New column for the delete button -->
      </tr>
    </thead>
    <tbody id="data"></tbody>
  </table>

  <script src="../script.js"></script>
  
  <hr>
  
  <form id="ordenForm" action="/testFilter" method="GET" class="form">
    <select name="orden" id="ordenSelect">
        <option id="Opciones" value="Opciones">Opciones</option>
        <option id="ascendente" value="ascendente">Ascendente</option>
        <option id="descendente" value="descendente">Descendente</option>
    </select>
    <button type="submit" value="submit" class="btn-filtrar" >Filtrar</button>
</form>

</body>
</html>
