<!DOCTYPE html>
<html>
<head>
  <title>Tabla de datos de la API</title>
  <style>
    table {
      border-collapse: collapse;
      width: 100%;
    }
    
    th, td {
      padding: 8px;
      text-align: left;
      border-bottom: 1px solid #ddd;
    }
    
    th {
      background-color: #f2f2f2;
    }
  </style>
</head>
<body>

  <input type="text" id="filtroNombre" placeholder="Ingresa el nombre" filtroNombre>
  <input type="text" id="filtroID" placeholder="Ingresa el ID" filtroID>

    <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Nombre</th>
      </tr>
    </thead>
    <tbody id="data">
      <% data.forEach(item => { %>
        <tr>
          <td><%= item.id_uen %></td>
          <td><%= item.nombre %></td>
        </tr>
      <% }); %>
    </tbody>
  </table>


  <hr>
  
  <script>
    const searchInputNombre = document.getElementById("filtroNombre");
    const searchInputID = document.getElementById("filtroID");
    const rows = Array.from(document.querySelectorAll("#data tr")); //Scroll and select all data from tr (table)

    searchInputNombre.addEventListener("input", (e) => {
      const value = e.target.value.toLowerCase();

      rows.forEach(row => {
        const nombreCell = row.querySelector("td:nth-child(2)");
        const nombre = nombreCell.textContent.toLowerCase();
        const isVisible = nombre.includes(value);

        row.style.display = isVisible ? "" : "none";
      });
    });

    searchInputID.addEventListener("input", (e) => {
      const value = e.target.value.toLowerCase();

      rows.forEach(row => {
        const idCell = row.querySelector("td:nth-child(1)");
        const id = idCell.textContent.toLowerCase();
        const isVisible = id.includes(value);

        row.style.display = isVisible ? "" : "none";
      });
    });
  </script>

  <form id="orden" action="/testFilter" method="GET" class="form">
    <select name="orden" id="orden">
        <option id="ascendente" value="ascendente">Ascendente</option>
        <option id="descendente" value="descendente">Descendente</option>
    </select>
    <button type="submit" value="submit" class="btn" >Filtrar</button>
</form>

</body>
</html>