<!DOCTYPE html>
<html>
<head>
  <title>Tabla de datos de la API</title>
  <style>
    table {
      border-collapse: collapse;
      width: 100%;
    }
    
    th, td {
      padding: 8px;
      text-align: left;
      border-bottom: 1px solid #ddd;
    }
    
    th {
      background-color: #f2f2f2;
    }
  </style>
</head>
<body>
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Nombre</th>
      </tr>
    </thead>
    <tbody>
      <% data.forEach(item => { %> <!--for each data (rows) generate rows selected-->
        <tr>
          <td><%= item.id_uen %></td> <!--%= item object to select which data show %-->
          <td><%= item.nombre %></td>
        </tr>
      <% }); %>
    </tbody>
  </table>

  <hr>

  <form id="orden" action="/testFilter" method="GET" class="form">
    <select name="orden" id="orden">
        <option id="ascendente" value="ascendente">Ascendente</option>
        <option id="descendente" value="descendente">Descendente</option>
    </select>
    <button type="submit" value="submit" class="btn" >Filtrar</button>
</form>

</body>
</html>